<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsHttpBinding_BusinessEventAttachmentManager" maxBufferSize="2147483647"
      maxReceivedMessageSize="2147483647" messageEncoding="Mtom">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>

    </bindings>
    <client>
      <endpoint address="https://am2.praxedo.com/eTech/services/cxf/v6/BusinessEventAttachmentManager"
                 binding="basicHttpBinding" bindingConfiguration="wsHttpBinding_BusinessEventAttachmentManager"
                 contract="AttachmentManager.BusinessEventAttachmentManager" name="BusinessEventAttachmentManagerPort" />
    </client>
  </system.serviceModel>
</configuration>